<footer class="bg-dark text-light text-center py-2 fixed-bottom ">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p>&copy; 2024 MendoMarket</p>
            </div>
            <div class="col-6">
                <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href="https://instagram.com/"><i class="bi bi-instagram"></i></a></li>
                    <li class="list-inline-item"> <a href="https://www.linkedin.com/"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- <ul class="list-inline social-icons">
    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
</ul> -->