<div *ngIf="estadoFormAlta" class="row m-2 text-center mt-2 ">
    <h1>Alta Proveedor</h1>
</div>

<div *ngIf="estadoFormModificar" class="row m-2 text-center mt-2 ">
    <h1>Modificar Proveedor</h1>
</div>

<div class="container">
    <form #miForm="ngForm" (ngSubmit)="crearProveedor(miForm)">
        <div class="row justify-content-center   ">
            <div class="col-8 ">
                <button type="button" class="btn btn-primary m-1 " routerLink="/proveedores"><i class="bi bi-arrow-bar-left"></i>Volver</button>
                <div *ngIf="alertaWarning" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Advertencia !</strong> Deberias verificar que los campos fueron completados correctamente.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                
                <div *ngIf="alertaSucces" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Excelente!</strong> La informacion se ha cargado correctamente.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <hr>
                <h4>Informacion del Proveedor</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <label class="form-label">Codigo *</label>
                <input type="text" class="form-control" name="codigoProveedor" [(ngModel)]="proveedorCreateDTO.codigoProveedor" required pattern="^[a-zA-Z]{4}-[a-zA-Z0-9]*$">
                <small *ngIf="miForm.submitted && !miForm.controls['codigoProveedor'].valid" class="text-danger">codigo es requerido y con su patron.</small>
                <br>
                <label class="form-label">Razon Social *</label>
                <input type="text" class="form-control" name="razonSocialProveedor" [(ngModel)]="proveedorCreateDTO.razonSocialProveedor" required>
                <small *ngIf="miForm.submitted && !miForm.controls['razonSocialProveedor'].valid" class="text-danger">Razon Social es requerido.</small>
                <br>
                <label class="form-label">Rubro *</label>
                <select class="form-select" name="idRubro" aria-label="rubro" [(ngModel)]="proveedorCreateDTO.idRubro" required>
                    <option *ngFor="let rubro of rubros" [value]="rubro.idRubro">{{ rubro.nombreRubro }}</option>
                </select>
                <small *ngIf="miForm.submitted && !miForm.controls['idRubro'].valid" class="text-danger">Rubro es requerido.</small>
                <br>
                <label class="form-label">Telefono</label>
                <input type="text" class="form-control" name="telefonoProveedor" [(ngModel)]="proveedorCreateDTO.telefonoProveedor" required pattern="^\+?[0-9]{1,20}$">
                <br>
                <label class="form-label">CUIT</label>
                <input type="text" class="form-control" name="cuitProveedor" [(ngModel)]="proveedorCreateDTO.cuitProveedor" required>
                <br>
            </div>
            <div class="col-4">
                <label class="form-label">Sitio Web</label>
                <input type="text" class="form-control" name="sitioWebProveedor" [(ngModel)]="proveedorCreateDTO.sitioWebProveedor" required>
                <br>
                <label class="form-label">Email</label>
                <input type="text" class="form-control" name="emailProveedor" [(ngModel)]="proveedorCreateDTO.emailProveedor" required>
                <br>
                <label class="form-label">URL Logo</label>
                <input type="text" class="form-control" name="logoProveedor" [(ngModel)]="proveedorCreateDTO.logoProveedor" required>
                <br>
                <label for="suplier-iva" class="form-label">Condición frente al IVA</label>
                <select class="form-select" name="idCondicionIva" aria-label="condicion" [(ngModel)]="proveedorCreateDTO.idCondicionIva" required>
                    <option *ngFor="let condicion of condicionesIva" [value]="condicion.idCondicionIva">{{ condicion.nombreCondicionIva }}</option>
                </select>
            </div>
        </div>
        <div class="row justify-content-center mt-4 ">
            <div class="col-8 ">
                <hr>
                <h4>Direcccion del Proveedor</h4>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-4">
                <label for="suplier-iva" class="form-label">Pais</label>
                <select class="form-select" name="idPais" aria-label="razonSocial" [(ngModel)]="proveedorCreateDTO.idPais" (change)="onPaisChange()" required>
                    <option *ngFor="let p of paises" [value]="p.idPais">{{ p.nombrePais }}</option>
                </select>
                <br>
                <label class="form-label">Localidad</label>
                <input type="text" class="form-control" name="localidadDireccion" [(ngModel)]="proveedorCreateDTO.localidadDireccion" required>
                <br>
                <label class="form-label">Numero</label>
                <input type="text" class="form-control" name="numDireccion" [(ngModel)]="proveedorCreateDTO.numDireccion" required>
                
            </div>
            <div class="col-4">
                <label for="suplier-iva" class="form-label">Provincia</label>
                <select class="form-select" name="idProvincia" aria-label="provincia" [(ngModel)]="proveedorCreateDTO.idProvincia" required>
                    <option *ngFor="let provincia of provincias" [value]="provincia.idProvincia">{{ provincia.nombreProvincia }}</option>
                </select>
                <br>
                <label class="form-label">Calle</label>
                <input type="text" class="form-control" name="calleDireccion" [(ngModel)]="proveedorCreateDTO.calleDireccion" required>
                <br>
                <label class="form-label">Cod. Postal</label>
                <input type="text" class="form-control" name="codPostaDireccion" [(ngModel)]="proveedorCreateDTO.codPostaDireccion" required>
            </div>
        </div>
        <div class="row justify-content-center mt-4 ">
            <div class="col-8 ">
                <hr>
                <h4>Informacion de Contacto</h4>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-4">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombreContacto" [(ngModel)]="proveedorCreateDTO.nombreContacto" required>
                <br>
                <label class="form-label">Telefono</label>
                <input type="text" class="form-control" name="telefonoContacto" [(ngModel)]="proveedorCreateDTO.telefonoContacto" required>
                <br>
                <label class="form-label">Rol</label>
                <input type="text" class="form-control" name="rolContacto" [(ngModel)]="proveedorCreateDTO.rolContacto">
            </div>
            <div class="col-4">
                <label class="form-label">Apellido</label>
                <input type="text" class="form-control" name="apellidoContacto" [(ngModel)]="proveedorCreateDTO.apellidoContacto" required>
                <br>
                <label class="form-label">Email</label>
                <input type="text" class="form-control" name="emailContacto" [(ngModel)]="proveedorCreateDTO.emailContacto">
            </div>
        </div>
        <div class="row text-center m-3">
            <div *ngIf="estadoFormAlta" class="col-11 ">
                <button type="submit" class="btn btn-success">Crear Proveedor</button>
            </div>
            <div *ngIf="estadoFormModificar" class="col-11 ">
                <button type="submit" class="btn btn-warning">Modificar Proveedor</button>
            </div>
        </div>
    </form>
</div>
