<div class="row m-2 text-center mt-2 ">
    <h1>Alta Producto</h1>
</div>

<div class="container">
    <form #miForm="ngForm" (ngSubmit)="crearProducto(miForm)">
        <div class="row justify-content-center   ">
            <div class="col-8 ">
                <button type="button" class="btn btn-primary m-1 " routerLink="/productos"><i
                        class="bi bi-arrow-bar-left"></i>Volver</button>
                <hr>
                <h4>Informacion del Producto</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <label class="form-label">Codigo SKU</label>
                <input type="text" class="form-control" name="codSKUProd" [(ngModel)]="codSKUproducto" required>
                <br>
                <label class="form-label">Categoria</label>
                <select class="form-select" aria-label="Rubro" name="categoriaProd" [(ngModel)]="categoriaProducto"
                    required>
                    <option value="Textil">Textil</option>
                    <option value="Electronico">Electronico</option>
                    <option value="Muebles">Muebles</option>
                    <option value="Software">Software</option>
                    <option value="Otro">Otro</option>
                </select>
                <br>
                <label class="form-label">Nombre del Producto</label>
                <input type="text" class="form-control" name="nombreProd" [(ngModel)]="nombreProducto" required>
                <br>
                <label class="form-label">Descripcion</label>
                <br>
                <textarea class="form-control" name="descProd" cols="53" rows="5" [(ngModel)]="descProducto" required></textarea>
                <!--<input type="text" class="form-control" name="telefonoProv" [(ngModel)]="telefonoProveedor" required>-->
            </div>
            <div class="col-4">
                <label class="form-label">Precio</label>
                <input type="text" class="form-control" name="precioProd" [(ngModel)]="precioProducto" required>
                <br>
                <label for="suplier-iva" class="form-label">Proveedor</label>
                <select class="form-select" name="razonProvProd" aria-label="razonSocial" [(ngModel)]="razonProvProducto" required>
                    <option *ngFor="let p of proveedores" [value]="p.id">{{ p.razonSocial }}</option>
                </select>
                <br>
                <label class="form-label">URL Imagen</label>
                <input type="text" class="form-control" name="imagenProd" [(ngModel)]="imagenProducto" required>
            </div>
            <div class="row text-center m-3">
                <div class="col-11 ">
                    <button type="submit" class="btn btn-success ">Crear Producto</button>
                </div>
            </div>
        </div>
    </form>
</div>