table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 7px;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100px; /* Ajusta el ancho máximo según tus necesidades */
    max-height: 100px; /* Ajusta la altura máxima según tus necesidades */
    margin-top: 10px; /* Espaciado superior */
}