<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light p-3 rounded">
                    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/productos">Productos</a></li>
                    <li class="breadcrumb-item"> {{ producto.nombreProducto }} </li>

                </ol>
            </nav>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-6">
            <h3 class="text-center">{{ producto.nombreProducto }}</h3>
            <div class="border rounded p-3 mb-3 text-center ">
                <img src="{{ producto.imagenProducto }}" alt="{{ producto.nombreProducto }}" class="img-fluid rounded" />
            </div>
        </div>
        <div class="col-lg-6">
            <h4 class="card-title">Información:</h4>
            <div class="card mt-2">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>SKU:</strong> {{ producto.skuProducto }}</li>
                        <li class="list-group-item"><strong>Categoría:</strong> {{ categoria.nombreCategoria }}</li>
                        <li class="list-group-item"><strong>Proveedor:</strong> {{ proveedor.razonSocialProveedor }}</li>
                        <li class="list-group-item"><strong>Precio:</strong> ARS {{ producto.precioProducto}}</li>
                    </ul>
                </div>
            </div>
            <h4 class="card-title mt-3">Descripción:</h4>
            <div class="card mt-2">
                <div class="card-body">
                    <p class="card-text lead">{{ producto.descProducto }}</p>
                </div>
            </div>
        </div>
    </div>
</div>