
<div class="container pt-3">
    <h1 class="text-center">Bienvenido al Sistema de Gestión de Compras</h1>

    <p class="lead">Gracias por unirte a nuestra plataforma diseñada para facilitar y optimizar la gestión de tus productos, proveedores y órdenes de compra. Aquí encontrarás un conjunto de características intuitivas y funcionales para satisfacer tus necesidades como administrador del software.</p>

    <h2>Módulo de Productos</h2>
    <ul>
      <li><strong>Alta de Productos:</strong> Registra fácilmente tus productos ingresando detalles esenciales como el código SKU, categoría, nombre, descripción, precio y proveedor. Además, puedes agregar la URL de una imagen para una identificación visual.</li>
      <li><strong>Listado de Productos:</strong> Explora y organiza tu inventario con un listado completo de todos los productos. La información incluye el nombre del producto, categoría, proveedor y precio.</li>
      <li><strong>Edición de Productos:</strong> Modifica cualquier detalle de tus productos de forma sencilla y eficiente.</li>
    </ul>

    <h2>Módulo de Proveedores</h2>
    <ul>
        <li><strong>Alta de Proveedores:</strong> Registra la información completa de tus proveedores, incluyendo detalles fiscales, dirección y datos de contacto.</li>
        <li><strong>Listado de Proveedores:</strong> Explora la lista completa de proveedores, mostrando información clave como código, razón social y datos de contacto.</li>
        <li><strong>Edición de Proveedores:</strong> Modifica cualquier información relacionada con tus proveedores de forma sencilla y eficiente.</li>
      </ul>

    <h2>Módulo de Órdenes de Compra</h2>
    <ul>
        <li><strong>Creación de Órdenes de Compra:</strong> Crea nuevas órdenes de compra de manera intuitiva, seleccionando productos y proveedores, especificando detalles clave y agregando productos al detalle de la orden.</li>
        <li><strong>Seguimiento de Órdenes de Compra:</strong> Dar seguimiento y trazabilidad a las ordenes de compra de cada proveedor.</li>
      </ul>

    <p>Esperamos que encuentres nuestro sistema fácil de usar y que satisfaga todas tus necesidades de gestión. Si tienes alguna pregunta o necesitas asistencia, nuestro equipo de soporte está aquí para ayudarte.</p>

    <p>¡Gracias por confiar en nosotros!</p>
  </div>