<!-- Div de Listado productos -->
<div class="row">
    <div class="col-10 border">
        <h3 class="mt-2">
            Listado de Productos
        </h3>
    </div>
    <div class="col-2 border text-center">
        <button class="btn btn-success btn-sm m-1" routerLink="./alta-producto">
            Alta Producto
        </button>
    </div>
</div>

<!-- Div de la tabla con productos -->
<div class="row border">
    <div class="col-12 p-3">
        <table>
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre Producto</th>
                    <th>Categoria</th>
                    <th>Proveedor (Razon Social)</th>
                    <th>Precio</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of productos">
                    <td><img src="{{ p.imagen }}" alt="" height="200px" width="200px"></td>
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.categoria }}</td>
                    <td>{{ p.razonSocialProveedor }}</td>
                    <td>{{ p.precio }}</td>
                    <td class="text-center ">
                        <Button class="btn btn-warning m-1" (click)="modificarProducto(p.codSKUProducto)">Editar</Button>
                        <button class="btn btn-danger" (click)="eliminarProducto(p.codSKUProducto)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
