<!-- Div de Listado proveedores -->
<div class="row">
    <div class="col-10 border">
        <h3 class="mt-2">
            Listado de Ordenes de Compra
        </h3>
    </div>
    <div class="col-2 border text-center">
        <button class="btn btn-success btn-sm m-1" routerLink="./crear-orden-de-compra">
            Crear Orden de Compra
        </button>
    </div>
</div>

<!-- Div de la tabla con proveedores -->
<div class="row border">
    <div class="col-12 p-3">
        <table>
            <thead>
                <tr>
                    <th>Cod. Orden</th>
                    <th>Razon Social</th>
                    <th>Fecha Emision</th>
                    <th>Fecha Entrega Esperada</th>
                    <th>Fecha Entrega Real</th>
                    <th>Monto Total</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
    </div>
</div>