
<div class="class row text-center mt-2">
    <div class="col-12">
        <h1>
            Listado de Proveedores
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light p-3 rounded">
                <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                <li class="breadcrumb-item">Proveedores</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-4 pt-1 ">
        <label for="">Filtrar por Razon Social: </label>
        <input class="form-control me-2" type="search" placeholder="ej: 'Walmart' " aria-label="Search"
            [(ngModel)]="filtroRazonSocial">
    </div>
    <div class="col-3 pt-1 ">
        <label for="">Filtrar por Activo/Eliminados </label>
        <select class="form-select" aria-label="Rubro" name="categoriaProd" [(ngModel)]="rubroFiltro"
            (change)="onFiltroChange()">
            <option value="Activos">Activos</option>
            <option value="Eliminados">Eliminados</option>
            <option value="Todos">Todos</option>
        </select>
    </div>
    <div class="col-2 pt-1 ">

    </div>
    <div class="col-3 text-end mt-auto  ">
        <button class="btn btn-success btn-sm p-2" routerLink="./alta-proveedor">
            Alta Proveedor
        </button>
        <button class="btn btn-primary btn-sm ms-2 p-2" routerLink="./alta-rubros">
            Gestion Rubros
        </button>
    </div>
</div>
<div class="row pt-2 mt-2 ">
    <div class="col-12">
        <table>
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Codigo</th>
                    <th>Razon Social</th>
                    <th>Pais - Provincia</th>
                    <th>Info Contacto</th>
                    <th>+Info</th>
                    <!-- <th>Apellido Contacto</th> -->
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of proveedoresDTO| filtroRazonSocialProveedor: filtroRazonSocial"
                    [ngStyle]="{'background-color': p.habilitadoProveedor ? 'inherit' : '#ccc'}">
                    <td>
                        <img src="{{ p.logoProveedor }}" alt="error no carga" width="70px" height="70px">
                    </td>
                    <td>{{ p.codigoProveedor }}</td>
                    <td>{{ p.razonSocialProveedor }}</td>
                    <td>{{ p.nombrePais }} - {{ p.nombreProvincia }}</td>
                    <td>{{ p.nombreContacto }} {{ p.apellidoContacto }}</td>
                    <td class="text-center">
                        <span ngbTooltip="
                            {{ p.sitioWebProveedor }} /
                            {{ p.emailProveedor }} /
                            {{ p.telefonoProveedor }}">
                            <i class="bi bi-info-circle"></i>
                        </span>
                    </td>
                    <!-- <td>{{ p.apellidoContacto }}</td> -->
                    <td class="text-center ">
                        <button class="btn btn-primary m-1" (click)="verDetalleProveedor(p.idProveedor)"><i
                                class="bi bi-eye"></i>
                        </button>
                        <Button class="btn btn-warning m-1" (click)="modificarProveedor(p.idProveedor)"><i
                                class="bi bi-pencil"></i></Button>
                        <button *ngIf="p.habilitadoProveedor" class="btn btn-danger"
                            (click)="eliminarProveedor(p.idProveedor!)"><i class="bi bi-trash3"></i></button>
                        <button *ngIf="!p.habilitadoProveedor" class="btn btn-success"
                            (click)="darDeAltaProveedor(p.idProveedor!)"><i class="bi bi-upload"></i></button>
                    </td>
                </tr>
                <p *ngIf="esFilaVacia()">
                    <!-- {{ proveedoresDTO[0].mensaje }} -->
                <p>
            </tbody>
        </table>
    </div>
</div>