<div class="container">
    <div class="row">
        <div class="col-10 border">
            <h3 class="mt-2 ">
                Listado de Proveedores
            </h3>
        </div>
        <div class="col-2 border text-center ">
            <button class="btn btn-outline-success btn-sm m-1" data-toggle="modal" data-target="#altaProveedorModal">
                Alta Proveedor
            </button>
        </div>
    </div>
    <!-- MODAL ALTA PROVEEDOR -->
    <div class="modal fade" id="altaProveedorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alta de Proveedor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formProveedorAlta">
                        <div class="form-group">
                            <label for="rubroProveedor">Rubro</label>
                            <input type="text" class="form-control" id="rubroProveedor" placeholder="Ingrese Rubro">
                        </div>
                        <div class="form-group">
                            <label for="cuitProveedor">CUIT</label>
                            <input type="text" class="form-control" id="cuitProveedor" placeholder="Ingrese CUIT">
                        </div>
                        <div class="form-group">
                            <label for="emailProveedor">Email</label>
                            <input type="text" class="form-control" id="emailProveedor" placeholder="Ingrese Email">
                        </div>
                        <div class="form-group">
                            <label for="nombreProveedor">Nombre</label>
                            <input type="text" class="form-control" id="nombreProveedor" placeholder="Ingrese Nombre">
                        </div>
                        <div class="form-group">
                            <label for="apellidoProveedor">Apellido</label>
                            <input type="text" class="form-control" id="apellidoProveedor" placeholder="Ingrese Apellido">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <!-- BOTON DE GUARDAR DEL MODAL -->
                    <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL EDITAR -->
    <div class="modal fade" id="modificarProveedorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar Proveedor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formProveedorMod">
                        <div class="form-group">
                            <label for="rubroProveedor">Rubro</label>
                            <input type="text" class="form-control" id="rubroProveedorMod" placeholder="Ingrese Rubro">
                        </div>
                        <div class="form-group">
                            <label for="cuitProveedor">CUIT</label>
                            <input type="text" class="form-control" id="cuitProveedorMod" placeholder="Ingrese CUIT">
                        </div>
                        <div class="form-group">
                            <label for="emailProveedor">Email</label>
                            <input type="text" class="form-control" id="emailProveedorMod" placeholder="Ingrese Email">
                        </div>
                        <div class="form-group">
                            <label for="nombreProveedor">Nombre</label>
                            <input type="text" class="form-control" id="nombreProveedorMod" placeholder="Ingrese Nombre">
                        </div>
                        <div class="form-group">
                            <label for="apellidoProveedor">Apellido</label>
                            <input type="text" class="form-control" id="apellidoProveedorMod" placeholder="Ingrese Apellido">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <!-- BOTON DE MODIFICAR DEL MODAL -->
                    <button type="button" class="btn btn-success" id="btnModificar">Modificar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- TABLE -->
    <div class="row border">
        <div class="col-12 p-3">
            <table>
                <thead>
                    <tr>
                        <th>Cod.</th>
                        <th>Rubro</th>
                        <th>CUIT</th>
                        <th>Email</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody id="tablaProveedoresBody">
                </tbody>
            </table>
        </div>
    </div>


</div>


